* {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFF3C7;
    font-family: "Poppins";
    /* imported from google fonts website */
}

p {
    /* should apply to all my paragraphs */
    color: black;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;

}

#headshot {
    border-radius: 50%;
}

h1 {
    color: #F7418F;
    font-size: 70px;
    text-align: left;
}


h4 {
    color: #F7418F;
    font-size: 50px;
}
h5 {
    color: #FC819E;
    font-size: 40px;
}


.div-left {
    margin: 10px;
    text-align: left;
}
.div-right {
    margin: 10px;
    text-align: right;
}
.div-center {
    margin: 10px;
    text-align: center;
}
#flex-container1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 40px 10px 40px;
}
#skills-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    align-self: center;
    width: auto;
    max-width: 100%;
}
#flex-col p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}
ul li {
    color: black;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
    font-style: normal;
}

/* practice ul child thing here! */

/* chosen color palette: https://colorhunt.co/palette/fff3c7fec7b4fc819ef7418f */