p {
    /* should apply to all my paragraphs */
    color: black;
    font-size: 30px;
}

h1 {
    color: EB5A3C;
    font-size: 100px;
    text-align: left;
}

.short-bio{
    color: DF9755;
    font-size: 30px;
    text-align: left;
}

h4 {
    color: EB5A3C;
    font-size: 50px;
}

.div-left {
    margin: 20px;
    text-align: left;
}
.div-right {
    margin: 20px;
    text-align: right;
}
#flex-container{
    display: flex;
    flex-direction: row;
}


/* light yellow/green: EDF4C2 */
/* light yellow: E7D283 */
/* light orange: DF9755*/
/* dark orange: EB5A3C */

/* chosen color palette: https://colorhunt.co/palette/eb5a3cdf9755e7d283edf4c2 */